name: Android Debug Build

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: setup ubuntu
        run: |
          sudo apt-get --quiet update --yes
          sudo apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1
      - name: setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '17'
      - name: setup Android SDK
        uses: ./.github/workflows/actions/setup-android-sdk
      - name: Android Debug Build
        run: ./gradlew assembleDebug
      - uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: app/build/outputs/