name: Android Release Build

on:
  push:
    branches:
    - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: setup ubuntu
        run: |
          sudo apt-get --quiet update --yes
          sudo apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1
      - name: setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'microsoft'
          java-version: '17'
      - name: setup Android SDK
        uses: ./.github/workflows/actions/setup-android-sdk
      - name: Setup Build Configs
        env:
          ANDROID_RELEASE_BASE64_KEY: ${{ secrets.ANDROID_REALSE_BASE64_KEY }}
          ANDROID_RELEASE_KEY_PASSWORD: ${{ secrets.ANDROID_REALSE_KEY_PASSWORD }}
        run: |
          echo ${ANDROID_RELEASE_BASE64_KEY} | base64 -d > ./release-application-key
          echo "RELEASE_STORE_FILE=`pwd`/release-application-key" >> ./local.properties
          echo "RELEASE_STORE_PASSWORD=${ANDROID_RELEASE_KEY_PASSWORD}" >> ./local.properties
          echo "RELEASE_KEY_ALIAS=referrersample" >> ./local.properties
          echo "RELEASE_KEY_PASSWORD=${ANDROID_RELEASE_KEY_PASSWORD}" >> ./local.properties
      - name: Android Release Apk Build
        run: ./gradlew assembleRelease
      - name: Android Release aab Build
        run: ./gradlew bundleRelease
      - uses: actions/upload-artifact@v4
        with:
          name: outputs
          path: app/build/outputs/